<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav position="end" mode="over" disableClose="true">
		<mat-toolbar>
			<h2>Adicionar Cidade</h2>
			<span class="flex-spacer"></span>
			<button mat-icon-button (click)="sidenav.close()">
				<mat-icon>close</mat-icon>
			</button>
		</mat-toolbar>

		<div class="formulario">

			<mat-form-field class="full-width">
				<input matInput placeholder="Nome" [(ngModel)]="cidade.nome">
			</mat-form-field>

			<mat-form-field>
				<input matInput placeholder="Latitude" [(ngModel)]="cidade.lat" >
			</mat-form-field>
			
			<mat-form-field>
				<input matInput placeholder="Longitude" [(ngModel)]="cidade.lng" >
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-select placeholder="Estado" [(value)]="cidade.estado"
				            [compareWith]="compareOptions">
					<mat-option *ngFor="let estado of estados" [value]="estado">
						{{ estado.nome }}
					</mat-option>
				</mat-select>
			</mat-form-field>

		</div>

		<mat-toolbar>
			<span class="flex-spacer"></span>
			<button mat-button (click)="sidenav.close()">Cancelar</button>
			<button mat-raised-button color="primary" (click)="confirmar()">Confirmar</button>
		</mat-toolbar>

	</mat-sidenav>

	<mat-sidenav-content>
		<mat-card>
			<mat-card-title>
				<mat-toolbar color="primary">
					<h3>Cadastro de Cidades</h3>
					<span class="flex-spacer"></span>
					<button mat-icon-button (click)="add()">
						<mat-icon>add</mat-icon>
					</button>
				</mat-toolbar>
				<mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
			</mat-card-title>

			<mat-card-content>
				<table mat-table [dataSource]="cidades" *ngIf="!msgerror">

					<!-- Nome Column -->
					<ng-container matColumnDef="nome">
						<th mat-header-cell *matHeaderCellDef> Nome Cidade </th>
						<td mat-cell *matCellDef="let cidade"> {{cidade.nome}} </td>
					</ng-container>

					<!-- Cidade Column -->
					<ng-container matColumnDef="estado">
						<th mat-header-cell *matHeaderCellDef> UF </th>
						<td mat-cell *matCellDef="let cidade"> {{cidade.estado.sigla}} </td>
					</ng-container>

					<!-- Latitude Column -->
					<ng-container matColumnDef="lat">
						<th mat-header-cell *matHeaderCellDef> Latitude </th>
						<td mat-cell *matCellDef="let cidade"> {{cidade.lat}} </td>
					</ng-container>
					
					<!-- Longitude Column -->
					<ng-container matColumnDef="lng">
						<th mat-header-cell *matHeaderCellDef> Longitude </th>
						<td mat-cell *matCellDef="let cidade"> {{cidade.lng}} </td>
					</ng-container>					

					<!-- Options Column -->
					<ng-container matColumnDef="options">
						<th mat-header-cell *matHeaderCellDef> </th>
						<td mat-cell *matCellDef="let cidade">
							<button mat-icon-button [matMenuTriggerFor]="menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="excluir(cidade)">
									<mat-icon>delete</mat-icon>
									<span>Excluir</span>
								</button>
								<button mat-menu-item (click)="editar(cidade)">
									<mat-icon>edit</mat-icon>
									<span>Editar</span>
								</button>
							</mat-menu>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>

				<div class="panel-error" *ngIf="msgerror">
					<img src="assets/oops.png">
					<h1 class="mat-h1">Ocorreu um Erro</h1>
					<p class="mat-caption">{{ msgerror }}</p>
					<button mat-button color="warn" (click)="ngOnInit()">Tentar Novamente</button>
				</div>
			</mat-card-content>
		</mat-card>
	</mat-sidenav-content>
</mat-sidenav-container>