mat-sidenav-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    mat-sidenav {
        width: 650px;

        mat-toolbar {
            background: none;

            .mat-raised-button {
                margin-left: 5px;
            }
        }

        .formulario {
            margin: 0 30px;
        }
    }

    mat-sidenav-content {

        mat-card {
            margin: 50px;
            
            table {
                width: 100%;

                .mat-column-options {
                    text-align: right;
                }
            }
        }
    }
}